<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Edit the Review of <%= @review.book_title %></h1>

<form action="/reviews/<%= @review.id %>" method="POST">
<input type="hidden" id="hidden" name="_method" value="patch">
  
<label>Edit the Book Title:</label>
<input type="text" name="updated_book_title" value="<%=@review.book_title %>">
<br>
<br>
<label>Edit Your Review:</label>
<textarea id="content" name="updated_content" value="<%=@review.content%>"></textarea>
<br>
<br>
<label>Edit Your Rating:</label> 
  <span class="star-rating">
  <input type="radio" name="updated_rating" value="1" <%= "checked" if @review.rating == 1 %>> 1<i></i>
  <input type="radio" name="updated_rating" value="2" <%= "checked" if @review.rating == 2 %>> 2<i></i>
  <input type="radio" name="updated_rating" value="3" <%= "checked" if @review.rating == 3 %>> 3<i></i>
  <input type="radio" name="updated_rating" value="4" <%= "checked" if @review.rating == 4 %>> 4<i></i>
  <input type="radio" name="updated_rating" value="5" <%= "checked" if @review.rating == 5 %>> 5<i></i>
</span>
<br><br>
<label>Edit Genres:</label>
<% Genre.all.each do |genre| %>
  <label><%= genre.name %></label>
  <input type="checkbox" name="review[genre_ids][]" value="<%= genre.id %>" id="<%= genre.name %>" <%='checked' if @review.genres.include?(genre) %>>
<% end %>
<br>
<br>
<label>Submit a New Book Cover URL:</label>
<input type="url" name="updated_thumbnail" value="<%=@review.thumbnail %>">
<br>
<br>
  <button type="sbumit" id="submit">Edit</button>
</form>