<% if flash.has?(:message) %>
  <h1 style="color: red; text-align: center"><%= flash[:message] %></h1>
<% end %>

<div class="mainContent">
  <aside class="leftmenu">
    <a href="/"><img width="100" src="/images/my-book-club-icon.png"/></a>
        <ul>
                <a href="/reviews"><li>All book reviews</li></a>
                <a href="/genres"><li>All genres</li></a>
                <a href="/reviews/new"><li>Create a new review</li></a>
                <% user = current_user %> 
                <a href="/users/<%= user. slug %>"><li>View my homepage</li></a>
        </ul>
  </aside>
  
  <main class="main">
    <header>
      <h1 class="pageTitle">View All Book Reviews</h1>
    </header>
        
    <% @reviews.each do |review| %>
    <div class="pieRow">
      <img src="<%= review.thumbnail %>" width="100px" class="thumbnail" alt="<%= review.book_title %>">
        <div>
          <h2><i>A Review of</i> <%= review.book_title %></h2>
          <p style="font-family:verdana;">Author: <a href="users/<%= review.user.slug %>"><%= review.user.username %></a></p>
          <p style="font-family:verdana; font-size: 0.9rem;">Author's rating: <%= review.rating %> / 5</p>
        </div>
          <small><strong><a href="/reviews/<%= review.id %>">Read this review</a></strong></small>
     </div>
    <% end %>
  </main>  

</div>
   
