<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<div class="responsive">
<h2>View All Book Reviews</h2>
  <% @reviews.each do |review| %>
    <a target="_blank" href="/reviews/<%= review.id %>">
      <img src="<%= review.thumbnail %>" alt="<%= review.book_title %>" width="600" height="400">
    </a>
    <div><%= review.book_title %></div>
    <% end %>
  </div>
</div>

   
